<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.corp.luqman.kotlintraining">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".lesson4.PusherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".lesson10.DesignAppActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".lesson9.ui.DevByteActivity">

        </activity>
        <activity android:name=".lesson8.MarsApiActivity"></activity>
        <activity android:name=".lesson6n7.SleepQualityActivity" />
        <activity
            android:name=".lesson5.GuessWordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity android:name=".lesson4.LifeCycleActivity" />
        <activity android:name=".lesson3.activity.MainNavigationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lesson2.MyViewColorActivity" />
        <activity android:name=".lesson2.AboutMeActivity" />
        <activity android:name=".lesson1.MainActivity" >

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>